<section class="error-page text-center mt-5">
	<h1 class="display-1 text-danger"><%= status || 500 %></h1>
	<h2 class="mb-4"><%= __(error_page.title) %></h2>
	<p class="lead"><%= __(error_page.message) %></p>

	<% if (stack) { %>
	<pre class="text-muted small text-start border rounded p-3 bg-light">
<%= stack %></pre
	>
	<% } %>

	<a href="/" class="btn btn-primary mt-4"
		><%= __('error_page.backHome') %></a
	>
</section>
