<div class="background-overlay"></div>
<section class="hero-section">
	<div class="hero-content">
		<small class="role"><%- __('home.hero.role') %></small>
		<h1
			><%- __('home.hero.intro') %>
			<img
				src="/images/index/canada-flag.png"
				alt="<%= __('home.hero.canada_flag') %>"
				class="flag-icon"
				loading="lazy"
		/></h1>
	</div>
</section>

<section id="about">
	<div class="container">
		<h2 class="text-center mb-5"><%= __('home.about.title') %></h2>
		<div class="row">
			<div class="about-col-1 text-center">
				<img
					src="/images/index/humanoid-robot.png"
					alt="<%= __('about.image') %>"
					loading="lazy"
				/>
			</div>

			<div class="about-col-2 about-background">
				<% __('home.about.description').forEach(paragraph => { %>
				<p><%= paragraph %></p>
				<% }) %>

				<div class="tab-titles" role="tablist">
					<% Object.keys(__('home.about.tabs.titles')).forEach(tab =>
					{ %>
					<p
						class="tab-links <%= tab === 'experience' ? 'active' : '' %>"
						data-tab="<%= tab %>"
						role="tab"
						aria-selected="<%= tab === 'experience' ? 'true' : 'false' %>"
						><%= __('home.about.tabs.titles.' + tab) %></p
					>
					<% }) %>
				</div>

				<% Object.entries(__('home.about.tabs')).forEach(([tab,
				contents]) => { %>
				<div
					id="<%= tab %>"
					class="tab-contents <%= tab === 'experience' ? 'active-tab' : '' %>"
					><% if (tab === 'experience') { %>
					<ul>
						<% contents.forEach(item => { %>
						<li>
							<span><%= item.period %></span><br />
							<%- item.role_company %> <br />
							<address><%= item.location || '' %></address>
						</li>
						<% }) %>
					</ul>
					<% } else if (tab === 'skills') { %>
					<ul>
						<% contents.forEach(skill => { %>
						<li>
							<span><%= skill.name %></span><br />
							<%= skill.description %>
						</li>
						<% }) %>
					</ul>
					<% } else if (tab === 'education') { %>
					<ul>
						<% contents.forEach(edu => { %>
						<li>
							<span><%= edu.year %></span><br />
							<%= edu.title %><br />
							<address><%= edu.institution %></address>
						</li>
						<% }) %>
					</ul>
					<% } %>
				</div>
				<% }) %>
			</div>
		</div>
	</div>
</section>

<section id="services">
	<div class="container">
		<h2 class="text-center mb-5"><%= __('home.services.title') %></h2>
		<div class="row">
			<% __('home.services.detailed').forEach(service => { %>
			<div class="service-card col-md-4 mb-4">
				<div class="card shadow-sm text-center">
					<div class="card-body">
						<i class="bi <%= service.icon %> display-4 mb-5"></i>
						<h3 class="card-title"><%= service.title %></h3>
						<p class="card-text"><%= service.description %></p>
					</div>
				</div>
			</div>
			<% }) %>
		</div>
	</div>
</section>

<section id="portfolio">
  <div class="container">
    <h2 class="text-center mb-5"><%= __('home.portfolio.title') %></h2>
    <div class="work-list">
      <% __('home.portfolio.my_works').forEach(project => { %>
      <div class="work text-center">
        <a href="/<%= project.link %>">
          <h4 class='mb-4 mt-3'><%= project.title %></h4>
          <img src="/images/index/<%= project.img %>" alt="<%= project.title %>" loading="lazy">
        </a>
      </div>
      <% }) %>
    </div>
  </div>
  <div class="text-center mt-4">
    <button id="see-more-btn" class="btn" aria-label="__('home.portfolio.see_more_btn')"> <%= __('home.portfolio.see_more_btn') %></button>
  </div>
  </div>
</section>
