<!-- views/home/main.ejs -->
<div class="background-overlay"></div>
<!-- Hero Section -->
<%- include('_hero') %>

<!-- About Section -->
<%- include('_about') %>
<!-- Services Section -->
<%- include('_services') %>
<!-- Portfolio Section -->
<%- include('_portfolio') %>
<!-- Contact Section -->
<%- include('_contact') %>

<!-- MODALS -->
<!-- Auth Tabs (future) -->
<!-- Reset Password (future) -->
<!-- Conditional Set Username Modal (future) -->
<!-- Conditional Reset Password Modal (future) -->
